{% extends "layout.html" %}
{% block body %}

  {% if session.logged_in %}

    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  <!--
  <a href="kchart">Show kchart</a>
  <a href="kchart2">Show kchart</a>
  -->

  <ul class="tool" >
      <li><a href="get_kchart">获取k线图</a></li>
  </ul>

  {% endif %}


  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>

{% endblock %}

